/*Media mobile*/

nav.header {
    background-image: url(../images/joyce-g-2k74xaf8dfc-unsplash-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

div.name-container {
    background-color: rgba(9, 157, 141, 0.95);
    color: white;
    text-align: center;    
    padding: 20px;
}

div.menu-container {
    background-color: rgb(20, 217, 196, 0.95);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;    
}

div.claim {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
    height: 300px;
}

p.claim {
    background-color: white;
    color: black;
    text-align: center;
    width: 85%;
    padding: 20px;
    position: relative;
    top: 38px;
}