/*Mobile*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
}
h1, h2, h3, a, p.footer {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1.team {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

div.name-container {
    background-color: rgba(9, 157, 141, 0.95);
    color: white;
    text-align: center;    
    padding: 20px;
}

div.menu-container {
    background-color: rgba(20, 217, 196, 0.95);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;    
}

ul.menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

div.claim {
    background-image: url(../images/joyce-g-2k74xaf8dfc-unsplash-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
    height: 300px;
}

p.claim {
    background-color: white;
    color: black;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 600;
    width: 85%;
    padding: 15px;
    position: relative;
    top: 38px;
}

section.team {
    background-color: white;
    padding: 30px;
}

h2 {
    color: #14d9c4;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 30px
}

p.team {
    color: #54585a;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: normal;
}

section.fort-deb {
    background-color: rgba(184, 184, 185, 0.2);
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

h3.fort-deb {
    color: #099d8d;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 30px 0 10px;
}

div.triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    /* https://css-tricks.com/snippets/css/css-triangle/ */
    margin: 0 auto;
    position: absolute;
}

div.center {
    position: relative;
    display: flex;
    justify-content: center;
}

div.box-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

img.photo-person {
    width: 180px;
    border: solid 5px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

h4.person {
    padding: 10px 25px 5px;
    font-family: "Open Sans", serif;
    font-size: 20px;
    font-weight: normal;
}

p.person {
    padding: 5px 25px;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: normal;
    color: #54585a;
}

div.person {
    text-align: center;
}

div.social-media {
    display: flex;
    padding: 20px 20px 50px;
}

div.social-media .icon {
    color: #099d8d;
}

div.social-media .icon:not(.icon:first-child)::before {
    font-family: "Open Sans", serif;
    content: "·";
    color: black;
    font-size: 16px;
    line-height: 16px;
    padding: 0px 7px;
}

footer {
    font-size: 14px;
    border-top: solid 1px #b8b8b9;
}

footer p {
    font-family: "Open Sans", serif;
    color: #b8b8b9;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
}


footer ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: rgba(84, 88, 90, 0.75);
    text-align: center;
    padding: 5px;
}

div.adalab-image {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image-footer {
    width: 145px;
    padding: 10px;
}

/* @media Tablet */

@media (min-width: 768px){
    nav.header {
        background-color: #099d8d;        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div.menu-container {
        background-color: #099d8d;        
    }

    div.claim {
        align-items: flex-start;
    }
    
    p.claim {
        background-color: rgba(255, 255, 255, 0.80);
        top: 0;   
        width: 60%;  
        margin-left: 30px;   
    }
    
    section.fort-deb {        
        flex-direction: row;
        gap:25px;
    }

    .fort,.deb {
        width: 50%;
    }

    section.who-we-are {
        background-color: aquamarine;
    }
    
    div.left-person {
        display: flex;
        justify-content: space-around;
        padding: 40px;
        
    }
    
    img.photo-person {
        width: 250px;
    }
        
    footer {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 25px 30px 55px;
    }

    footer p {
        padding: 10px;
        align-items: flex-start;
    }

    footer ul {
        align-items: flex-end;
        gap: 8px;
        color: #54585a;
    }

    div.adalab-image {
        position: absolute;
        bottom: 0;
    }
}

/* @media Desktop */

@media (min-width: 1200px){
    /* section.fort-deb {
        display: flex;
        flex-direction: row;
    } */
}