/* Media mobile */


h2, h3 {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section.team {
    background-color: white;
    padding: 30px;
}

section.team h2 {
    color: #14d9c4;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

section.team p, section.fort-deb p {
    color: #54585a;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: normal;
}

section.fort-deb {
    background-color: rgba(184, 184, 185, 0.2);
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

section.fort-deb h3 {
    color: #099d8d;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 30px 0 10px;
}

div.triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    /* https://css-tricks.com/snippets/css/css-triangle/ */
    margin: 0 auto;
    position: absolute;
}

div.center {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Media tablet */

@media (min-width: 768px){
    section.fort-deb {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .fort,.deb {
        width: 50%;
    }
}

/* Media desktop */







